.parte-principal{
    display: flex;
    flex-direction: row;

    .pagina{
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .fundo{
        background-image: url('../../../../public/image/background-login-adm.jpg');
        background-size: cover;
        background-color: antiquewhite;
    }
}